.product {
  border-bottom: 1px solid $gray;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  width: 100%;

  @media #{$breakpoint-sm} {
    width: 50%;

    &:nth-child(2n+1) {
      border-right: 1px solid $gray;
    }
  }

  @media #{$breakpoint-md} {
    width: 33%;

    &:nth-child(2n+1) {
      border-right: 0;
    }

    &:nth-child(3n+2) {
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
    }
  }

  @media #{$breakpoint-lg} {
    width: 25%;

    &:nth-child(3n+2) {
      border-left: 0;
      border-right: 0;
    }

    &:nth-child(n) {
      border-right: 1px solid $gray;
    }

    &:nth-child(4n) {
      border-right: 0;
    }
  }

  &.is-hide {
    display: none;
  }
}

.product-header {
  padding: 20px 0;
  position: relative;
}

.product-button-add {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;

  &:disabled {
    background-color: $gray;
    color: $gray-dark;
  }
}

.product-info {
  text-align: center;
}

.product-image {
  margin: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.product-name {
  display: block;
  font-size: 1.5em;
  padding: 10px 0;
}

.product-categories {
  color: $red;
  font-size: .8em;

  .fa {
    margin: 3px;
  }
}

.product-badge {
  color: $yellow;
  display: none;

  &.is-show {
    display: inline-block;
  }
}
