$breakpoint-xs: 'only screen and (min-width: 319px)';
$breakpoint-sm: 'only screen and (min-width: 550px)';
$breakpoint-md: 'only screen and (min-width: 768px)';
$breakpoint-lg: 'only screen and (min-width: 1024px)';
$breakpoint-xl: 'only screen and (min-width: 1400px)';
